<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Пример рассчета Rave</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <div class="content">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body login-card-body">
            <h2>Введите данные</h2>
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit(dataForm)">
              <div class="form-group">
                <select formControlName="country" class="form-control" id="country">
                  <option [ngValue]="null" disabled>Select Country</option>
                  <option *ngFor="let country of countries; let i = index" [ngValue]="countries[i]">
                    {{country}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <select formControlName="state" class="form-control" id="state">
                  <option [ngValue]="null" [disabled]="currentStates == null">Select State</option>
                  <option *ngFor="let state of currentStates; let i = index" [ngValue]="currentStates[i].stateName">
                    {{state.stateName}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <select formControlName="district" class="form-control" id="district">
                  <option [ngValue]="null" [disabled]="currentDistricts == null">Select District</option>
                  <option *ngFor="let district of currentDistricts; let i = index"
                    [ngValue]="currentDistricts[i].districtName">
                    {{district.districtName}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <select formControlName="city" class="form-control" id="city">
                  <option [ngValue]="null" disabled>Select City</option>
                  <option *ngFor="let city of currentCities; let i = index" [ngValue]="currentCities[i].cityName">
                    {{city.cityName}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <div class="label">Дата рождения</div>
                <div class="input-group">
                  <input formControlName="birthdate" class="form-control" placeholder="dd-mm-yyyy" name="dp"
                    ngbDatepicker #d="ngbDatepicker" [minDate]="{year: 1200, month: 1, day: 1}"
                    [maxDate]="{year: 2148, month: 12, day: 31}" />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
              <div class="label">Время рождения</div>
              <div class="form-froup">
                <ngb-timepicker formControlName="birthtime"></ngb-timepicker>
              </div>
              <div class="form-group">
                <input type="submit" value="Рассчитать" class="btn btn-outline-dark" [disabled]="currentCity == null" />
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="currentCity != null;" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <div class="card">
            <div class="card-body">
              <p><strong>City name: </strong>{{currentCity.cityName}}</p>
              <p><strong>City latitude: </strong>{{currentCity.latitude}}</p>
              <p><strong>City longitude: </strong>{{currentCity.longitude}}</p>
              <p><strong>City timezone: </strong>{{currentCity.timeZone}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col scroll">
        <div *ngIf="currentJsonResponce != null && currentJsonResponce != '';" #collapse="ngbCollapse"
          [(ngbCollapse)]="isCollapsedJson">
          <div>
            <p><strong>City name: </strong>{{currentCity.cityName}}</p>
            <p><strong>City latitude: </strong>{{currentCity.latitude}}</p>
            <p><strong>City longitude: </strong>{{currentCity.longitude}}</p>
            <p><strong>City timezone: </strong>{{currentCity.timeZone}}</p>
            <ngx-json-viewer [json]="currentJsonResponce"></ngx-json-viewer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
